html {
  width:100%;
  height:auto;
  background-color: #222222;
  text-align: center;
  font-family: 'Cabin-Medium', sans-serif;
  font-size: 20px;
    
}
  
  @font-face {
    font-family: Cabin-Medium;
    src: url(fonts/Cabin-Medium.ttf), format('truetype');
    }
    
  /* Style the navbar */
#navbar {
  overflow: hidden;
  padding: 10px;
  background-color: #333;
}
#navbar a {
    float: none;
    display: inline-flex;
    color: #00AA60;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  /* Page content */
  .content {
    padding: 16px;
  }
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
main {
  background-color: #222222;
  color: #999999}
  
h1{
  font-family: "Cabin", sans-serif;
  font-size: 5vw;
  color:whitesmoke;
  text-align:center;
}

p{
    font-family: "Cabin", sans-serif;
    font-size: 12px;
    color:whitesmoke;
    text-align:center;
}
header {
  background: url(pictures/Cascadia.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cascadia {
  background-size: 100%;
}

active {
color:#222222;
background-color:#00AA60;
}

a {
  color: #00AA60 !important;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

a:hover {
  color: #00AA60 !important;
  text-align: center;
  padding: 14px;
  text-decoration: underline;
}

.blink_me {
  animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.img{
  display: block;
  height:auto;
  width: 100%;
  }

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  width: 90%;
  max-width:250px;
}

.imgcontainer{
  display:flex;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  width: 90%;
  max-width:500px;
}

img {
    max-width: 100%;
    max-height: 100%;
}
img2 {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  height:auto;
    width: 100%;
}
